
RewriteEngine on
Options All -Indexes




# why not come visit me directly?
RewriteCond %{HTTP_REFERER} \.opendirviewer\. [NC,OR]
# this prevents stoopid cross-site discovery attacks..
RewriteCond %{THE_REQUEST} \?\ HTTP/ [NC,OR]
# please stop pretending to be the Googlebot..
RewriteCond %{HTTP_REFERER} users\.skynet\.be.* [NC,OR]
# really, we need a special page for these twats..
RewriteCond %{QUERY_STRING} \=\|w\| [NC,OR]
RewriteCond %{THE_REQUEST} etc/passwd [NC,OR]
RewriteCond %{REQUEST_URI} owssvr\.dll [NC,OR]
# you can probably work these out..
RewriteCond %{QUERY_STRING} \=\|w\| [NC,OR]
RewriteCond %{THE_REQUEST} \/\*\ HTTP/ [NC,OR]
# etc..
RewriteCond %{HTTP_USER_AGENT} Sucker [NC]
RewriteRule . abuse.txt [L]
AuthName "INTERSTELLAR"
AuthUserFile "/home/focesorg/.htpasswds/public_html/interstellar/passwd"

RewriteBase /

# useragents starting with

RewriteCond %{HTTP_USER_AGENT} ^atraxbot [NC,OR]

RewriteCond %{HTTP_USER_AGENT} ^Azureus [NC,OR]

RewriteCond %{HTTP_USER_AGENT} ^geohasher [NC,OR]

RewriteCond %{HTTP_USER_AGENT} ^PycURL [NC,OR]

RewriteCond %{HTTP_USER_AGENT} ^Python-urllib [NC,OR]

RewriteCond %{HTTP_USER_AGENT} ^research-scan-bot [NC,OR]

RewriteCond %{HTTP_USER_AGENT} ^Sosospider [NC,OR]

RewriteCond %{HTTP_USER_AGENT} ^Wget [NC,OR]

RewriteCond %{HTTP_USER_AGENT} ^xenu [NC,OR]

# user agent contains string

RewriteCond %{HTTP_USER_AGENT} ^.*casper [NC,OR]

RewriteCond %{HTTP_USER_AGENT} ^.*goblox [NC,OR]

RewriteCond %{HTTP_USER_AGENT} ^.*sun4u [NC]

RewriteRule ^(.*)$ - [F]

# Blank UA and Referer

RewriteCond %{HTTP_REFERER} ^$ [NC]

RewriteCond %{HTTP_USER_AGENT} ^$ [NC]

RewriteRule ^(.*)\.(ico|gif|jpe?g|png|bmp|swf)$ - [F,L]

# Prevent use of specified methods in HTTP Request

RewriteCond %{REQUEST_METHOD} ^(HEAD|TRACE|DELETE|TRACK) [NC,OR]

# Block out use of illegal or unsafe characters in the HTTP Request

RewriteCond %{THE_REQUEST} ^.*(\\r|\\n|%0A|%0D).* [NC,OR]

# Block out use of illegal or unsafe characters in the Referer Variable of the HTTP Request

RewriteCond %{HTTP_REFERER} ^(.*)(<|>|'|%0A|%0D|%27|%3C|%3E|%00).* [NC,OR]

# Block out use of illegal or unsafe characters in any cookie associated with the HTTP Request

RewriteCond %{HTTP_COOKIE} ^.*(<|>|'|%0A|%0D|%27|%3C|%3E|%00).* [NC,OR]

# Block out use of illegal characters in URI or use of malformed URI

RewriteCond %{REQUEST_URI} ^/(,|;|:|<|>|">|"<|/|\\\.\.\\).{0,9999}.* [NC,OR]

# Block out  use of empty User Agent Strings

# NOTE - disable this rule if your site is integrated with Payment Gateways such as PayPal

RewriteCond %{HTTP_USER_AGENT} ^$ [OR]

# Block out  use of illegal or unsafe characters in the User Agent variable

RewriteCond %{HTTP_USER_AGENT} ^.*(<|>|'|%0A|%0D|%27|%3C|%3E|%00).* [NC,OR]

# Measures to block out  SQL injection attacks

RewriteCond %{QUERY_STRING} ^.*(;|<|>|'|"|\)|%0A|%0D|%22|%27|%3C|%3E|%00).*(/\*|union|select|insert|cast|set|declare|drop|update|md5|benchmark).* [NC,OR]

# Block out  reference to localhost/loopback/127.0.0.1 in the Query String

RewriteCond %{QUERY_STRING} ^.*(localhost|loopback|127\.0\.0\.1).* [NC,OR]

# Block out  use of illegal or unsafe characters in the Query String variable

RewriteCond %{QUERY_STRING} ^.*(<|>|'|%0A|%0D|%27|%3C|%3E|%00).* [NC]

Header set X-Frame-Options DENY

